body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}


.status {
    margin-bottom: 10px;
}

.blueBoxStyle {
    background: skyblue;
    padding: 10px;
    margin: 10px;
    width: 400px;
}

.warningMessage {
    background: #ffefc6;
    border: 1px 'solid' #f7c200;
    color: #cc3300;
    font: 16px;
    padding: 10px;
    text-align: center;
    width: 370px;
}




